/* Primary Theme Colors */
:root {
  --primary-color: #050097; /* Dark Blue - main color */
  --primary-light: #4d59e7; /* Lighter shade of blue for hover effects */
  --primary-dark: #03006a; /* Darker shade for buttons or highlights */

  /* Neutral Colors */
  --white-color: #ffffff; /* White - background, text on dark elements */
  --light-gray: #f0f0f5; /* Very light gray - background or section */
  --medium-gray: #e0e0e0; /* Gray for borders, secondary elements */
  --dark-gray: #595959; /* Text on light backgrounds */
  --light-gray: #e6e6e6;
  --black-color: #000000; /* Black for text and dark elements */

  /* Accent Colors */
  --secondary-color: #f5a623; /* Orange - used for highlights, alerts */
  --accent-color: #f75945; /* Red - for errors, warnings */
  --green-color: #42c46f; /* Green - for success messages, validation */

  /* Hover & Interactive States */
  --button-hover: #3b4bdc; /* Hover effect for buttons */
  --link-hover: #303f9f; /* Hover effect for links */

  /* Background Colors */
  --background-color: #f9fafd; /* Overall page background */
  --footer-background: #050097; /* Footer color (dark blue) */

  /* Text Colors */
  --text-primary: #050097; /* Dark blue for headings */
  --text-secondary: #333333; /* Dark gray for body text */
  --text-light: #ffffff; /* White for text on dark backgrounds */

  --header-background: #137dc5;

  --container-width-lg: 76%; /* for large devices */
  --container-width-md: 85%; /* for medium devices */
  --container-width-sm: 95%; /* for small devices */

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black-color);
  background: var(--background-color);
}

.sidebar {
  width: 17%;
  background-color: var(--header-background);
  color: white;
  height: 100vh; /* Full height of the viewport */
  padding: 20px;
  position: fixed; /* Fixes the sidebar to the left */
  overflow-y: auto; /* Enables scrolling when content overflows */
  scroll-behavior: smooth; /* Smooth scrolling effect */
}

.sidebar::-webkit-scrollbar {
  width: 0.5rem;
}

.sidebar::-webkit-scrollbar-track {
  background-color: var(--header-background); /* Light background for scrollbar track */
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--header-background); /* Lighter shade of blue for the scrollbar thumb */
  border-radius: 10px;
  transition: var(--transition);
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-gray); /* Darker blue on hover */
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
}

.menu li {
  margin: 15px 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: var(--transition);
}

.menu li a:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
