@import url("../citizen/partials/navbar.css");
@import url("../citizen/partials/footer.css");
@import url("../citizen/partials/mediaqueries.css");

.feedback-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  h2 {
    margin-bottom: 2rem;
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.feedback-form input,
.feedback-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feedback-form button {
  padding: 10px 15px;
  background-color: #050097;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #020074;
}
