@import url("../citizen/partials/navbar.css");
@import url("../citizen/partials/footer.css");
@import url("../citizen/partials/mediaqueries.css");

/* header styles */

header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 100vh;
  width: fit-content;
  margin-bottom: 5rem;
  background: var(--header-background);
  color: var(--white-color);
  z-index: 1;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p {
  margin: 0.5rem 0 1rem;
}

.call-to-action {
  display: inline-block;
  background: var(--primary-dark);
  color: var(--white-color);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.call-to-action:hover {
  background: transparent;
  /* color: var(--black-color); */
  border-color: var(--white-color);
}

/* section styles */

section {
  padding: 5rem 0;
}

section h2 {
  color: var(--text-primary);
}

.notice {
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  background: var(--light-gray);
}

.notice:hover {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.sectionbutton {
  display: inline-block;
  color: var(--text-primary);
  font-weight: 500;
  transition: var(--transition);
  margin-top: 1rem;
}

.sectionbutton:hover {
  background: transparent;
  text-decoration: underline;
}
