@import url("../citizen/partials/navbar.css");
@import url("../citizen/partials/footer.css");
@import url("../citizen/partials/mediaqueries.css");

.house-number {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  h2 {
    margin-bottom: 2rem;
  }
}

label {
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #050097; /* Dark Blue */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0066cc; /* Lighter Blue on hover */
}

.response {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}