@import url("../citizen/partials/navbar.css");
@import url("../citizen/partials/footer.css");
@import url("../citizen/partials/mediaqueries.css");

.view-complaint {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  h2 {
    margin-bottom: 2rem;
  }
}

.complaint-details {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 20px;
}

.complaint-details p {
  margin: 8px 0;
}

.comments-section {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 20px;
}

button {
  background-color: #050097; /* Dark Blue */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button:hover {
  background-color: #0066cc; /* Lighter Blue on hover */
}